<app-dashboard></app-dashboard>

<div class="container pt-5">
  <div class="card shadow">
    <div class=" ch card-header ps-3">Job Vacancy
      <!-- <button class="btn btn-sm btn-success"routerLink="/services">Add Contact</button> -->
    </div>
    <!-- need to be if any will  -->
    <div class="card-body">
      <div class="">
        <div class="">
          <div class="row">
            <div class="col-12" *ngFor="let jData of jobData; let i = index">
              <div class="card">
                <div class="card-body">
              <h5 class="text-center">
                <!-- <img src="../../assets/iconUser.png" alt="logo" /> -->
                <i class="fa fa-user" aria-hidden="true"></i> JOB ID {{ i + 1 }}
              </h5>
              <td>
                <i class="fa fa-id-card" aria-hidden="true"> &nbsp;</i>Job Title:
                {{ jData.jobTitle }}
              </td>
              <br />
              <td>
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i> &nbsp;Job Description: {{ jData.jobDescription }}
              </td>
              <br />
              <td>
                <i class="fa fa-graduation-cap" aria-hidden="true"></i> &nbsp;Qualification: {{ jData.qualification }}
              </td>
              <br />
              <td>
                <i class="fa fa-briefcase" aria-hidden="true"></i> &nbsp;Experience: {{ jData.experience }}
              </td>
              <br />
              <td>
                <i class="fa fa-bar-chart" aria-hidden="true"></i> &nbsp;Preferred Skills:  {{ jData.preferredSkills }}
              </td>
              <br />
              <td>
                <i class="fa fa-map-marker" aria-hidden="true"></i> &nbsp;Job Location: {{ jData.jobLocation }}
              </td>
              <br />
              <td>
                <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;Email: {{ jData.email }}
              </td>
              <br />
              <td>
                <i class="fa fa-phone-square" aria-hidden="true"></i> &nbsp;Contact: {{ jData.contact }}
              </td>
              <br />
              <div>
                <button class="btn btn-sm btn-success" routerLink="../applyJob" >Apply</button>&nbsp;
              </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
