<div class="container">
  <div class="pt-5">
    <button class="btn btn-sm btn-outline-danger" routerLink="../blogs">blogs</button>
  </div>
  <h1>
    Cognizant GenC Syllabus 2023 <br />
    Cognizant GenC Syllabus for Freshers 2023
  </h1>
  <p>
    Cognizant GenC conducts both on-campus and Off-campus drives. Earlier it
    used MeritTrac for on campus but this has been discontinued from August 01,
    2019.
    <b
      >Now Cognizant GenC Exam Pattern is changed, for 2023 the exam will be
      happening on Mettl.</b
    ><br />

    <b>We update our Cognizant GenC Test Pattern page as </b> soon as there is
    any change in syllabus or process within a day, which is why PrepInsta is
    the No.1 placement preparation website in India.
    <br />
    NOTE: Cognizant GenC has recently removed Coding section from their exam,
    and it will only be part of Cognizant GenC Elevate
  </p>

  <div>
    <h3>Cognizant GenC Online Test Syllabus 2023</h3>
    <div>
      <ul>
        <b>AptitudeAssessment </b>
        <li>Analytical and Logical Reasoning</li>
        <li>Verbal</li>
        <li>Quantitative Aptitude</li>
      </ul>
    </div>
    <div>
      <ul>
        <b>Communication Assessment</b>
        <li>Reading and Grammar</li>
        <li>Comprehension and Listening</li>
        <li>Speaking</li>
      </ul>
      <ul>
        <li>GenC Technical Interview</li>
        <li>GenC HR Interview</li>
      </ul>
    </div>
    <b><h5>Coding Section is removed from CTS GenC Placement Paper</h5></b>
  </div>

  <div class="py-4"><h4>Cognizant GenC Test Syllabus Rounds</h4></div>
  <!-- tables -->
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Cognizant GenC Test Pattern</th>
        <th scope="col">Important Information</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">Total no. of question</th>
        <td>80</td>
      </tr>

      <tr class="table-primary">
        <th scope="row">Allotted Time</th>
        <td>100 mins</td>
      </tr>
      <tr class="table-secondary">
        <th scope="row">Section Property</th>
        <td>Mandatory</td>
      </tr>
      <tr class="table-success">
        <th scope="row">Negative Marking</th>
        <td>No</td>
      </tr>
    </tbody>
  </table>
  <div>
    <b>Note:</b>
    <p>
      This pattern is for On-Campus Karnataka Region. Pattern for On-Campus
      varies from region to region. Please contact our Support Team to know
      about region specific Cognizant GenC Pattern.
    </p>
  </div>

  <div><h3>Additional Facts</h3></div>
  <div>
    <table class="table">
      <thead>
        <h4>Aptitude Assessment</h4>
        <tr>
          <th scope="col">Section</th>
          <th scope="col">No. Of Questions</th>
          <th scope="col">Time</th>
          <th scope="col">Difficulty</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Quantitative Aptitude</th>
          <td>25</td>
          <td>35 mins</td>
          <td>Medium</td>
        </tr>

        <tr class="table-primary">
          <th scope="row">Analytical and Logical Reasoning</th>
          <td>35</td>
          <td>45</td>
          <td>High</td>
        </tr>
        <tr class="table-secondary">
          <th scope="row">Verbal</th>
          <td>20</td>
          <td>20 mins</td>
          <td>Medium</td>
        </tr>
        <tr class="table-success">
          <th scope="row">Total</th>
          <td>80</td>
          <td>100 mins</td>
          <td>Medium</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center py-4">
    <img src="../../../../../assets/Cognizant-GenC.jpg" alt="" />
  </div>
  <div>
    <h5>Communication Assessment</h5>
    <ul>
      <li>Reading and Grammar</li>
      <li>Comprehension and Listening</li>
      <li>Speaking</li>
    </ul>
  </div>
  <div>
    <h5>Total Time: 45 mins</h5>
    <div class="text-center">
      <img src="../../../../../assets/Cognizant-GenC2.jpg" alt="" />
    </div>

    <div class="py-4">
      <p>
        After clearing Round 2 you will be allowed to give Round 3
        <b>GenC Next Interview</b> and if not then Round 1 Qualifier + Round 2
        disqualifier will give GenC Interview.
      </p>
      <h6>Round 3 (Cognizant GenC Interview)</h6>
      <p>
        This Round is also termed as GenC Interview Round. If you succeed in
        this round you will be able to get the higher package. Round 3 is
        basically GenC Interview Round. You will be asked question on the topic
      </p>
      <ul>
        <li>Problem Articulation</li>
        <li>Algorithm Capabilities</li>
        <li>Programming Concepts</li>
        <li>Cognitive Abilities</li>
        <li>Right Attitude.</li>
      </ul>
      <h4>Cognizant GenC Exam Syllabus Eligibility</h4>
      <ul>
        <li>2023 pass out of B.Tech,BCA, MCA, B.E. , M.E. , M.Tech student.</li>
        <li>No standing arrears in the current education</li>
        <li>Education gap of not more than one year.</li>
        <li>More than 60% or CGPA 6 in aggregate.</li>
      </ul>
      <h6>CTS GenC Placement Paper contains three sections in Aptitude Assessment:</h6>
      <ol>
        <li>Quants</li>
        <li>Logical</li>
        <li>Verbal</li>
      </ol>
      <h6>Cognizant GenC Placement Papers Contains 3 section in Communication Assessment:</h6>
      <ol>
        <li>Reading and Grammar</li>
        <li>Comprehension and Listening</li>
        <li>Speaking</li>
      </ol>

      <div class="pt-1">
        <button class="btn btn-sm btn-outline-warning" routerLink="../blogs" >back</button>
      </div>
    </div>
  </div>
</div>

