<app-dashboard></app-dashboard>

<div class="container pt-5">
  <div class="card mb-3">
    <img class="card-img-top" src="../../../../assets/tcsLogo.jpg" alt="Card image cap" style="height: 250px; width:500px ;">
    <div class="card-body">
      <h5 class="card-title">TCS: Current affairs</h5>
      <p class="card-text">Transforming businesses through technology...</p>
      <button class="btn btn-sm btn-outline-danger" routerLink="../tcsBlog">Read more</button>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card mb-3">
    <img class="card-img-top" src="../../../../assets/cognizantLogo.jpg" alt="Card image cap" style="height: 250px; width:500px ;">
    <div class="card-body">
      <h5 class="card-title">Cognizant: Current affairs</h5>
      <p class="card-text">Explore the power of business intuition...</p>
      <button class="btn btn-sm btn-outline-danger" routerLink="../cognizantBlog">Read more</button>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div class="card mb-3">
    <img class="card-img-top" src="../../../../assets/microsoft.jpg" alt="Card image cap" style="height: 200px; width:500px ;">
    <div class="card-body">
      <h5 class="card-title">Microsoft: Current affairs</h5>
      <p class="card-text">Reimagine productivity with Microsoft</p>
      <button class="btn btn-sm btn-outline-danger" routerLink="../microsoftBlog">Read more</button>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
</div>
