<nav class="navbar navbar-expand-lg navbar-light " style="background-color: rgb(173, 35, 35);">
  <a class="ps-5 navbar-brand">pPREP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="p-1 navbar-nav ">
      <a class="nav-item nav-link" routerLink="../user">Users <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" routerLink="../blogs">Blogs <span class="sr-only"></span></a>
      <a class="nav-item nav-link" routerLink="../aptitude">Aptitude</a>
      <a class="nav-item nav-link" routerLink="../technical">Technical</a>
      <a class="nav-item nav-link" routerLink="../job">Job Post</a>
    </div>
  </div>
</nav>
